@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "JetBrains Mono", monospace;
}

body {
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.carousel-fade-container {
  position: relative;
  overflow: hidden;
}

/* Gradiente de desvanecimiento en los bordes */
.carousel-fade-container::before,
.carousel-fade-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30%; /* Ajusta el ancho del desvanecimiento según sea necesario */
  z-index: 2;
  background: linear-gradient(to right, #fff, transparent);
}

.carousel-fade-container::after {
  right: 0;
  transform: rotateZ(180deg);
}
.logo-container div {
  display: inline-block !important;
  width: auto;
}
.logos {
  min-width: max-content;
  width: 100%;
  animation: 30s slide infinite linear;
}

.logos img {
  margin: 0 3rem;
  display: inline-block;
  text-align: center;
}

@media (max-width: 600px) {
  .logos img {
    margin: 0 1rem;
    width: calc(100px * 2 / 3);
    height: calc(50px * 2 / 3);
  }
}
@keyframes blink {
  0%, 49% { opacity: 1; }
  50%, 100% { opacity: 0; }
}

.blink {
  animation: blink 1s linear infinite;
}

.content {
  flex: 1;
}

.shadow{
  -webkit-box-shadow: -10px 10px 93px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 10px 93px 0px rgba(0,0,0,0.75);
box-shadow: -10px 10px 93px 0px rgba(0,0,0,0.75);
}
